.paizao{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,rgba(7, 176, 242, 1) 0%, rgba(26, 91, 196, 1) 62%, rgba(61, 74, 179, 1) 80%, rgba(0, 53, 138, 1) 91%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.papel{
    background-color: white;
    border-radius: 8px;
    width: 400px;
    height: 580px;
    padding: 12px;
}
.botao{
    width: 390px;
    height: 50px;
    background-color: red;
    border-radius: 8px;
}
.espaco_botao{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.linha1{
    width: 95%;
    height: 70px;
}